<h1 class="text-center fs-2">Información sobre Paises</h1>
<hr>

<ul class="list-group">

  <li
  routerLink="countries/by-country"
  routerLinkActive="active bg-dark border-0"
  class="list-group-item">Buscar por pais</li>
  <li
  routerLink="countries/by-region"
  routerLinkActive="active bg-dark border-0"
  class="list-group-item">Buscar por región</li>
  <li
  routerLink="countries/by-capital"
  routerLinkActive="active bg-dark border-0"
  class="list-group-item">Buscar por capital</li>
</ul>
